{% extends "body.html" %}

{% block content %}

  <article class="entry page entry-full">
    <header class="entry-header inner-sm">
      <h1 class="entry-title underline">{{ page.params.title }}</h1>
      {% if page.params.subheading %}
      <div class="entry-subtitle inner-sm">
        {{ page.params.subheading | safe }}
      </div>
      {% endif %}
    </header>
    {% if page.params.img_path %}
    <div class="entry-image">
      <img src="{{ page.params.img_path | relative_url }}" alt="{{ page.params.title }}" />
    </div>
    {% endif %}
    <div class="entry-content inner-sm">
      <div class="entry-exerpt">
        {{ page.exerpt | safe }}
      </div>
      {{ page.content | safe }}
    </div>
  </article><!-- .entry -->

{% endblock %}
