{% extends "body.html" %}

{% block content %}

  <header class="project-header underline">
    <h1>{{ page.params.title }}</h1>
  </header>

  {% set projects = getPages('/' + page.filename) | sort(true, true, "date") %}
  
  <div class="project-feed">
    <div class="project-feed-inside">
      {% for project in projects %}
      <article class="project project-card">
        <div class="project-inside">
          <header class="project-header">
            <div class="project-main">
              <div class="project-title">
                <h5>
                  <a href="{{ project.url | relative_url}}">
                    {{ project.params.title }}
                  </a>
                </h5>
              </div>
              <div class="project-tech">
                {% for tech in project.params.tech %}
                <span class="tech">{{ tech }}</span>
                {% endfor %}
              </div>
            </div>
            <div class="project-date">              
              {{ project.params.date | date_format("%b %Y") }}
            </div>
          </header><!-- .project-header -->
          <div class="project-content project-exerpt">
            {{ project.params.exerpt | safe }}
          </div>
          <footer class="project-meta">
            {% if project.params.github %}
            {% for github in project.params.github %}
            <div>
              <i class="fab fa-github"></i> <a href="{{ github.url }}">{{ github.label }}</a>
            </div>
            {% endfor %}
            {% endif %}
            {% if project.params.team %}
            <div>
              <i class="fas fa-user-friends"></i> 
              {% for person in project.params.team %}
              {% if person.link -%}
              <a href="{{ person.link }}" target="_blank">{{ person.name }}</a>
              {%- else -%}
              {{ person.name }}
              {%- endif -%}
              {%- if not loop.last -%}, {%- endif %}
              {% endfor %}
            </div>
            {% endif %}
            {% if project.params.company %}
            <div>
              <i class="fas fa-building	"></i> 
              {{ project.params.company }}
            </div>
            {% endif %}
            {% if project.params.result %}
            <div>
              <i class="fas fa-medal"></i> {{ project.params.result | safe }}
            </div>
            {% endif %}
            {% if project.params.publications %}
            {% for publication in project.params.publications %}
            <div>
              <i class="fas fa-book	"></i> 
              <a href="{{ publication.url }}" target="_blank">{{ publication.name }}</a>
            </div>
            {% endfor %}
            {% endif %}
          </footer>
        </div>
      </article><!-- .project -->
      {% endfor %}
    </div>
  </div><!-- .project-feed -->

  <!-- Pagination TBD -->
  <!--
  <nav class="pagination inner-sm">
    <a class="older-projects button button-icon" href="#"><span class="icon-arrow-left" aria-hidden="true"></span><span class="screen-reader-text">Older projects</span></a>
    <span class="page-number">Page X of Y</span>
    <a class="newer-projects button button-icon" href="#"><span class="screen-reader-text">Newer projects</span><span class="icon-arrow-right" aria-hidden="true"></span></a>
  </nav>
  -->

{% endblock %}
