{% extends "body.html" %}

{% block content %}

  <header class="project-header underline">
    <h1>{{ page.params.title }}</h1>
  </header>

  {% set projects = getPages('/' + page.filename) | sort(true, true, "date") %}
  
  <div class="project-feed">
    <div class="project-feed-inside">
      {% for project in projects %}
      <article class="project project-card">
        <div class="project-inside">
          <header class="project-header">
            <div class="project-main">
              <div class="project-title">
                <h5>{{ project.params.title }}</h5>
              </div>
              <div class="project-location">
                {{ project.params.subtitle }}
              </div>
              <div class="project-tech">
                {% for tech in project.params.tech %}
                <span class="tech">{{ tech }}</span>
                {% endfor %}
                <i class="fas {{ page.params.icon }}"></i>
                <strong>{{ project.params.subheading }}</strong>
              </div>
            </div>
            <div class="project-date">              
              {{ project.params.date | date_format("%b %Y") }}
            </div>
          </header><!-- .project-header -->
          <div class="project-content">
            {{ project.content }}
          </div>
          <footer class="project-meta">
            {% if project.params.github %}
            <div>
              <i class="fab fa-github"></i> <a href="{{ project.params.github.url }}">{{ project.params.github.label }}</a>
            </div>
            {% endif %}
            {% if project.params.team %}
            <div>
              <i class="fas fa-user-friends"></i> {{ project.params.team | join(', ') }}
            </div>
            {% endif %}
            {% if project.params.result %}
            <div>
              <i class="fas fa-medal"></i> {{ project.params.result | safe }}
            </div>
            {% endif %}
            <!-- <time class="published"
              datetime="{{project.end_date | date_format("%Y-%m-%d %H:%M") }}">{{ project.end_date | date_format("%B %d, %Y") }}</time> -->
          </footer>
        </div>
      </article><!-- .project -->
      {% endfor %}
    </div>
  </div><!-- .project-feed -->

  <!-- Pagination TBD -->
  <!--
  <nav class="pagination inner-sm">
    <a class="older-projects button button-icon" href="#"><span class="icon-arrow-left" aria-hidden="true"></span><span class="screen-reader-text">Older projects</span></a>
    <span class="page-number">Page X of Y</span>
    <a class="newer-projects button button-icon" href="#"><span class="screen-reader-text">Newer projects</span><span class="icon-arrow-right" aria-hidden="true"></span></a>
  </nav>
  -->

{% endblock %}
