{% extends "body.html" %}

{% block content %}

  <article class="post post-full">
    <header class="post-header inner-sm">
      <h1 class="post-title underline">{{ page.params.title }}</h1>
      <div class="post-subtitle">
        <div>
          <i class="fas fa-car"></i> {{ page.params.car }}
        </div>
        <div>
          <i class="fas fa-tachometer-alt"></i> {{ "%'.2f km" | sprintf(page.params.mileage) }}
        </div>
      </div>
    </header>
    {% if page.params.content_img_paths %}
    {% for path in page.params.content_img_paths %}
    <div class="post-image">
      {% set full_path = path | replace('.jpeg', '_full.jpeg') %}
      <a href="{{ full_path | relative_url }}">
        <img src="{{ path | relative_url }}" alt="{{ page.params.title }}" />
      </a>
    </div>
    {% endfor %}
    {% endif %}
    <div class="post-content inner-sm">
      {{ page.content | safe }}

      {% if page.params.map %}
      <iframe 
        src="https://www.google.com/maps/d/embed?mid={{ page.params.map }}"
        width="100%"
        height="480"
        />
      {% endif %}
    </div>
    <footer class="post-meta inner-sm">
      <time class="published"
        datetime="{{page.date | date_format("%Y-%m-%d %H:%M") }}">{{page.date | date_format("%A, %B %e, %Y") }}</time>
    </footer>
  </article><!-- .post -->

  <!-- Next/previous post navigation TBD -->
  <!--
  <nav class="block block-read-next">
    <h2 class="block-title underline inner-sm">Read Next</h2>
    <div class="post-feed">
      <div class="post-feed-inside">
        <article class="post post-card">
          <div class="post-inside">
            <a class="post-thumbnail" href="#"><img src="#" alt="" /></a>
            <header class="post-header">
              <h3 class="post-title"><a href="#" rel="bookmark">Previous Post Title</a></h3>
            </header>
            <div class="post-content">
              <p>Previous post excerpt...</p>
            </div>
            <footer class="post-meta">
              <time class="published" datetime="">Previous post date</time>
            </footer>
          </div>
        </article>
        <article class="post post-card">
          <div class="post-inside">
            <a class="post-thumbnail" href="#"><img src="#" alt="" /></a>
            <header class="post-header">
              <h3 class="post-title"><a href="#" rel="bookmark">Next Post Title</a></h3>
            </header>
            <div class="post-content">
              <p>Next post excerpt...</p>
            </div>
            <footer class="post-meta">
              <time class="published" datetime="">Next post date</time>
            </footer>
          </div>
        </article>
      </div>
    </div>
  </nav>
  -->

{% endblock %}
